.main{
    border:2px solid black;
    height: 800px;
    border-radius: 55px;
    width:700px;
    margin: 0 auto;
}

.header{
    text-align:center;
    padding:40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.header p{
    color:grey;
}
.content{
    height: 400px;

}
.left{
    
    width:40%;
    float:left;
}
.right{
    
    width:60%;
    float:right;
}
body{
    display: flex;
    margin: 0;
}
.left1{
    padding: 12px;
    text-align: right;
    color:grey;
    padding-right: 23px;
    font-size: large;
}
.right1{
    padding: 12px;
    text-align: left;
    border-left:1px solid black;
    font-size: large;
}
.button1{
    text-align: center;
    
.button2{
    color: white;
    background-color: black;
    padding: 10px 15px;
    border-radius: 10px;
    font-size: large;
}

}
.dot{
    height: 11px;
    width: 11px;
    background-color: black;
    border-radius: 50%;
    position: relative;
    top: 1px;
    display: inline-block;
    left: -17px;
}
